.proyecto {
  --swiper-theme-color: var(--color-resaltador);

  .imgWrapper {
    height: 150px;
    max-width: 100%;
  }

  img {
    cursor: pointer;
  }

  .contenido {
    * {
      font-size: 1.1rem;
      line-height: 2rem;
    }

    li {
      margin-top: 15px;
    }

    p {
      margin: 15px 0;
    }

    h1 {
      margin-bottom: 15px;
      font-size: 1.5rem;
    }

    h2 {
      margin-bottom: 15px;
      font-size: 1.35rem;
    }

    h3 {
      margin: 8px 0;
      font-size: 1.2rem;
    }
  }

  .swiperDesktop {
    display: none;
  }

  .swiperPagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
    left: 0;
    height: auto;
    width: 100%;
    margin: 15px 0;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
  }
}

.titulo {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;

  flex-direction: column;

  .botonesTitulo {
    display: flex;
    gap: 15px;

    * {
      color: var(--color-resaltador);
      font-weight: bold;

      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    a {
      display: flex;
      align-items: center;
      gap: 7px;
      border: 2.5px solid var(--color-resaltador);
      padding: 5px 10px;
      border-radius: 13px;

      &:hover {
        color: var(--color-fondo);
        background-color: var(--color-resaltador);

        * {
          color: var(--color-fondo);
        }
      }
    }
  }
}

@media (min-width: 550px) {
  .proyecto {
    .swiperMobile,
    .swiperPagination {
      display: none;
    }

    .swiperDesktop {
      display: block;
    }

    .imgWrapper {
      height: 200px;
    }
  }
}
