.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2vh;
  height: 100vh;

  h1 {
    font-size: 4rem;
    line-height: 4.2rem;
    color: var(--color-resaltador);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.9rem;
  }
}

@media (min-width: 550px) {
  .notFound {
    gap: 8vh;

    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}
