.index {
  display: flex;
  flex-direction: column;
  gap: 10vh;

  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 2vh;

    h1 {
      font-size: 4rem;
      line-height: 4.2rem;
    }

    h2 {
      font-size: 2.3rem;
      font-weight: bold;
      line-height: 2.9rem;
      color: var(--color-resaltador);
    }
  }

  .repos {
    display: flex;
    flex-direction: row;
    gap: 20px;

    * {
      font-size: 3rem;
    }

    .colorPrimario path {
      color: var(--color-resaltador);
    }

    .colorSecundario path {
      color: var(--color-titulo);
    }
  }

  .cta {
    a {
      padding: 10px 16px;
      color: #fff;
      background-color: var(--color-resaltador);
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: bold;
      border: 2.9px solid var(--color-resaltador);
      border-radius: 5px;

      &:hover {
        color: var(--color-resaltador);
        background-color: #fff;
      }
    }
  }
}

@media (min-width: 550px) {
  .index {
    gap: 12vh;

    .contenido {
      margin-top: 8vh;

      h1 {
        font-size: 4rem;
      }

      h2 {
        font-size: 2rem;
      }

      a {
        padding: 10px 18px;
        font-size: 1rem;
      }
    }
  }
}
