.proyectos {
  display: grid;
  gap: 30px;
  grid-template-columns: minmax(0, 1fr);
  max-width: 100%;

  h3 {
    margin: 8px 0;
  }

  p {
    margin: 5px 0;
    line-height: 1.55rem;
  }
}

@media (min-width: 550px) {
  main.proyectos {
    gap: 45px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
