@import url("../css/global.scss");

.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;

    & > a {
      font-size: 1.07rem;
      font-weight: bold;
    }

    & > a:hover,
    li a:hover {
      color: var(--color-resaltador);
    }

    li a {
      font-size: 0.9rem;
      font-weight: bold;
    }

    ul {
      display: flex;
      gap: 1rem;
      margin-left: auto;
      list-style: none;
    }

    p {
      align-self: flex-start;
    }
  }

  footer {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
    margin-top: 40px;

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

.linkActivo {
  color: var(--color-resaltador);
}

@media (min-width: 550px) {
  .Layout {
    nav ul {
      gap: 3rem;
    }
  }
}

@media (min-width: 768px) {
  .Layout {
    nav ul {
      gap: 4rem;
    }
  }
}
