.proyecto {
  margin: 0 -10px;
  padding: 15px 10px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0 0 5px 4px var(--color-resaltador-sombra);
  }

  h2 {
    margin: 20px 0 10px 0;
  }

  p {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
    height: 170px;
  }
}
