@import url("../vendor/css/font-lato.css");
@import url("../vendor/css/font-montserrat.css");
@import url("./colors.scss");

* {
  color: var(--color-texto);
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

code > * {
  color: #ccc;
}

body,
html,
body > div,
body > div > div {
  height: 100%;
}

body {
  background-color: var(--color-fondo);
  padding: 0 8%;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--color-titulo);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.55rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  color: var(--color-link);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

@media (min-width: 550px) {
  body {
    padding: 0 5%;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }
}
